<ion-header class="ion-no-border">
	<ion-toolbar>

	</ion-toolbar>

	<ion-item lines="none">

		<ion-avatar slot="start">
      <img src="{{user.photo || '../../assets/user.svg'}}">
  </ion-avatar>
  <ion-label>
    <p>{{ 'chaines.hll' | translate }}</p>
    <h3>{{user.displayName}}</h3>
    <p>{{user.email}}</p>
  </ion-label>

      <br>
      <ion-badge (click)="logout()">
        <ion-icon color="light" slot="start" name="power"></ion-icon>
        {{ 'chaines.logout' | translate }}
      </ion-badge>

	</ion-item>

</ion-header>

<ion-content>

  <div class="slides ion-margin-bottom">
    <h3 class="titre">{{ 'chaines.myaccount' | translate }}</h3>
    <ion-slides [options]="slidesOptions">
      <ion-slide>
        <ion-card>
          <ion-card-content class="ion-text-left">
            <ion-list class="padding">
                <ion-item (click)="changePhoto()">
                  <ion-icon color="primary" slot="start" name="camera-outline"></ion-icon>
                  <ion-label>
                    {{ 'chaines.chnageimage' | translate }}
                  </ion-label>
                  <ion-icon color="primary" slot="end" name="chevron-forward"></ion-icon>
                </ion-item>
                <ion-item (click)="profile()">
                  <ion-icon color="primary" slot="start" name="person-circle-outline"></ion-icon>
                  <ion-label>
                    Modifier mon profil
                  </ion-label>
                  <ion-icon color="primary" slot="end" name="chevron-forward"></ion-icon>
                </ion-item>
                <ion-item (click)="editPasswordPrompt()">
                  <ion-icon color="primary" slot="start" name="lock-closed"></ion-icon>
                  <ion-label>
                    Modifier mon mot de passe
                  </ion-label>
                  <ion-icon color="primary" slot="end" name="chevron-forward"></ion-icon>
                </ion-item>
            </ion-list>
          </ion-card-content>
        </ion-card>
      </ion-slide>
    </ion-slides>
  </div>


  <!--Transactions-->
<!--   <div class="slides ion-margin-bottom">
    <h3 class="titre">Transactions</h3>
    <ion-slides [options]="slidesOptions">
      <ion-slide>
        <ion-card>
          <ion-card-content class="ion-text-left">
            <ion-list class="padding">
              <ion-item (click)="notification()" >
                <ion-icon color="primary" slot="start" name="notifications-circle"></ion-icon>
                <ion-label>
                  Mes transactions
                </ion-label>
                <ion-icon color="primary" slot="end" name="chevron-forward"></ion-icon>
              </ion-item>
            </ion-list>
          </ion-card-content>
        </ion-card>
      </ion-slide>
    </ion-slides>
  </div> -->



    <!--Paramètres -->
    <div class="slides ion-margin-bottom">
      <h3 class="titre">{{ 'chaines.settings' | translate }}</h3>
      <ion-slides [options]="slidesOptions">
        <ion-slide>
          <ion-card>
            <ion-card-content class="ion-text-left">
              <ion-list class="padding">

                <ion-item (click)="langue()" >
                  <ion-icon  color="primary" slot="start" name="language"></ion-icon>
                  <ion-label>
                    {{ 'chaines.lg' | translate }}
                  </ion-label>
                </ion-item>

                
                <ion-item (click)="serviceClient()" >
                  <ion-icon  color="primary" slot="start" name="help-circle"></ion-icon>
                  <ion-label>
                    Service client
                  </ion-label>
                </ion-item>
            
                <ion-item (click)="noter()" lines="none" >
                  <ion-icon color="primary" slot="start"  name="alert-circle"></ion-icon>
                  <ion-label>
                    Noter l'application
                  </ion-label>
                </ion-item>

              </ion-list>
            </ion-card-content>
          </ion-card>
        </ion-slide>
      </ion-slides>
    </div>



        <!--Reach us -->
        <div class="slides ion-margin-bottom">
          <h3 class="titre">Contact</h3>
          <ion-slides [options]="slidesOptions">
            <ion-slide>
              <ion-card>
                <ion-card-content class="ion-text-left">
                  <ion-list class="padding">
    
                    <ion-item (click)="call()" >
                      <ion-icon  color="primary" slot="start" name="call-outline"></ion-icon>
                      <ion-label>
                        {{ 'chaines.call' | translate }}
                      </ion-label>
                    </ion-item>
    
                    
                    <ion-item (click)="SendEmail()" >
                      <ion-icon  color="primary" slot="start" name="mail-outline"></ion-icon>
                      <ion-label>
                        {{ 'chaines.emailus' | translate }}
                      </ion-label>
                    </ion-item>
                
            
    
                  </ion-list>
                </ion-card-content>
              </ion-card>
            </ion-slide>
          </ion-slides>
        </div>
</ion-content>