<ion-header>
  <ion-toolbar >
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/tab1"> </ion-back-button>
  </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

<ion-content>
<!-- Customer infos -->
<div class="slides ion-margin-bottom">
  <ion-slides >
    <ion-slide>
      <ion-card>
        <ion-card-content class="ion-text-center">
          <ion-card-title class="ion-margin-bottom"> <span class="steps">{{message}}</span></ion-card-title>
          <ion-card-subtitle class="ion-text-center">
            <ion-icon color="primary" name="bag-check-outline"></ion-icon>
            <ion-button  (click)="again()" expand="full">{{ 'chaines.sendagain' | translate }}</ion-button>
          </ion-card-subtitle>
          <ion-progress-bar value="0.5" color="custom"></ion-progress-bar>
        </ion-card-content>
      </ion-card>
    </ion-slide>
  </ion-slides>
</div>
</ion-content>
