/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";

@media (min-width: 768px){
 
    .ios .hydrated{
        /*width: 50%;*/
        margin-left: auto;
        margin-right: auto;
       /* display: block;*/
    }
  
}
.header-md::after {
    left: 0;
    bottom: -5px;
    background-position: left 0 top -2px;
    position: absolute;
    width: 100%;
    height: 5px;
    background-image: none;
    background-repeat: repeat-x;
    content: "";
}


ion-item.ion-activatable,
ion-avatar.ion-activatable {
  position: relative;
  overflow: hidden;
}

.text-height {
  height: 21px;
}

.custom-popover .popover-content {
  top: 15px !important;
  left: 100px !important;
  padding: 10px;
}

.searchbar-input.sc-ion-searchbar-md{
  border-radius: 75px;
  font-size: 14px;
  height: 2.5em;
}
.action-sheet-group.sc-ion-action-sheet-md:first-child {
  margin-bottom: 57px;
    border-radius: 15px 15px 0px 0px;
    margin-left: 5px;
    margin-right: 5px;
}

.card-class .popover-content{
  padding: 10px;
    /*top: 100px !important;*/
    width: 100%;
    left: 0px !important;
    border-radius: 25px 25px 0px 0px;

}

